<div class="container-devise-user-mobile">
  <div class="page-actions">
    <%= link_to '<i class="fa-solid fa-arrow-left"></i> Back'.html_safe, request.referrer, class: "btn btn-outline-primary" %>
  </div>

  <div class="form-inputs">
    <div class="form-title ">
      <h2>Resend confirmation instructions</h2>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :confirmation_token %>

      <div class="form-email">
        <%= f.input :email,
                required: true,
                autofocus: true,
                value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Resend confirmation instructions", :class => "btn btn-primary btn-submit w-100%"%>
      </div>

    <% end %>
  </div>

  <div class="other-devise-links">
    <%= render "devise/shared/links" %>
  </div>

</div>
