<div class="container-devise-user-mobile ">
  <div class="page-actions">
  </div>

  <div class="form-inputs">
    <div class="form-title">
      <h2>Change your password</h2>
    </div>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>

      <div class="form-password">
        <%= f.input :password,
            label: "New password",
            required: true,
            autofocus: true,
            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
            input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-password-confirm">
          <%= f.input :password_confirmation,
                label: "Confirm your new password",
                required: true,
                input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Change my password", :class => "btn btn-primary btn-submit w-100%"%>
      </div>

    <% end %>
  </div>

  <div class="other-devise-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
