<div class="card-route-destination <%= "last-destination" if index == route.route_destinations.length - 1 %> <%= showpage ? 'show-page' : "edit-page"%>" data-id="<%= route_destination.id %>" data-sortable-target="results">

  <%# Slider only on edit page %>
  <div class="destination-slider">
    <% if showpage != true %>
      <i class="fa-solid fa-bars"></i>
    <% end %>
  </div>
  <%# Slider end %>

  <div class="destination-circle-icon">
    <span class="dest-position text-center"><%= route_destination.position %></span>
  </div>

  <div class="destination-text">
      <div class="destination-title">
        <%= route_destination.destination.title %>
      </div>
      <% if route_destination.destination.title == "Custom location" %>
        <div class="destination-address"><%= route_destination.destination.address%></div>
      <% else %>
        <div class="destination-address"><%= route_destination.destination.address.split(",")[1..-1].join(", ") %></div>
      <% end %>
  </div>

  <%# Delete button only on edit page %>
  <% if showpage != true %>
    <div class="delete-button">
      <%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, destination_path(route_destination.destination), data: {turbo_method: :delete, turbo_confirm: 'Remove this stop from your route?'} %>
    </div>
  <% end %>
  <%# Delete button end %>
</div>
