<div class="card-route-mobile p-1 my-2 <%= "public" if route.shared == true %>">
  <div class="card-top mt-2 mx-2">
    <div class="title">
      <%= route.title %>
    </div>
  </div>

  <div class="card-middle mx-2">
      <span class="text-description left">Route destinations</span>
      <span class="text-description">Route details</span>
  </div>

  <div class="card-bottom my-1 mx-2">

    <div class="card-route-destinations">
      <div class="top">
        <div class="destination-circle-icon"></div>
        <div class="route-destination"><%= route.destinations.first.title %></div>
      </div>

      <div class="middle">
        <div class="connector-line-top"></div>
        <div class="route-mode-icon my-0" <%= "style=margin-left:2px;" if route.mode == "cycling"%> <%= "style=margin-left:3px;" if route.mode == "driving"%> >
          <% if route.mode == "walking" %>
            <i class="fa-solid fa-person-walking fa-xs" style="color: $lr-font-dark;"></i>
          <% elsif route.mode == "cycling" %>
            <i class="fa-solid fa-person-biking fa-xs" style="color: $lr-font-dark;"></i>
          <% elsif route.mode == "driving" %>
            <i class="fa-solid fa-car fa-xs" style="color: $lr-font-dark;"></i>
          <% else %>
            Error
          <% end %>
        </div>
        <div class="connector-line-bottom"></div>
      </div>

      <div class="bottom">
        <div class="destination-circle-icon"></div>
        <div class="route-destination">
          <%= route.destinations.last.title %>
        </div>
      </div>

    </div>

    <div class="card-route-details">
      <div class="spec-item mb-0">
        <i class="fa-solid fa-location-dot me-2" style="color: $lr-font-dark;width:15px;padding-left: 3px"></i>
        <%= route.route_destinations.length %> stops
      </div>
      <div class="spec-item mb-0">
        <i class="fa-solid fa-stopwatch me-2" style="color: $lr-font-dark;width:15px;padding-left: 2px;"></i>
        <% if route.time.nil? %>
          <span>"0 min"</span>
        <% elsif route.time.to_i < 60 %>
          <span><%= "#{route.time} min" %></span>
        <% else %>
          <span><%= "#{route.time.to_i.divmod(60)[0]}:#{route.time.to_i.divmod(60)[1]} h" %></span>
        <% end %>
      </div>

      <div class="spec-item mb-0">
        <i class="fa-solid fa-road me-2" style="color: $lr-font-dark;width:15px;"></i>
        <%= route.distance.nil? ? "0 km" : "#{route.distance} km" %>
      </div>
    </div>
  </div>

</div>
