
<%= form_with url: myroutes_path, method: :get  do |form| %>
  <div class="form-row mx-2 pt-2">
    <div class="col-field-description">
      City
    </div>
    <div class="col-field-options route-city">
      <%= text_field_tag :city,
          params[:city],
          class: "form-control",
          placeholder: "E.g. London"
        %>
    </div>
  </div>

  <div class="form-row mx-2 ">
    <div class="col-field-description">
      Mode
    </div>
    <div class="col-field-options route-mode">
      <div class="mode-walking">
        <% if (not params[:commit].present?) || (params[:commit] != "Apply filter") %>
          <%= check_box_tag "walking", "true", true %>
        <% elsif params[:commit].present? && params[:walking] != "true" %>
          <%= check_box_tag "walking", "true", false %>
        <% else %>
          <%= check_box_tag "walking", "true", true %>
        <% end %>
        <label for="walking"> Walking</label>
      </div>

      <div class="mode-cycling">
        <% if (not params[:commit].present?) || (params[:commit] != "Apply filter") %>
          <%= check_box_tag "cycling", "true", true %>
        <% elsif params[:commit].present? && params[:cycling] != "true" %>
          <%= check_box_tag "cycling", "true", false %>
        <% else %>
          <%= check_box_tag "cycling", "true", true %>
        <% end %>
        <label for="cycling"> Cycling</label>
      </div>

      <div class="mode-driving">
        <% if (not params[:commit].present?) || (params[:commit] != "Apply filter") %>
          <%= check_box_tag "driving", "true", true %>
        <% elsif params[:commit].present? && params[:driving] != "true" %>
          <%= check_box_tag "driving", "true", false %>
        <% else %>
          <%= check_box_tag "driving", "true", true %>
        <% end %>
        <label for="driving"> Driving</label>
      </div>
    </div>
  </div>

  <div class="form-row mx-2 ">
    <div class="col-field-description">
      Shared
    </div>
    <div class="col-field-options route-shared">
      <div class="private">
        <% if (not params[:commit].present?) || (params[:commit] != "Apply filter") %>
          <%= check_box_tag "private", "true", true %>
        <% elsif params[:commit].present? && params[:private] != "true" %>
          <%= check_box_tag "private", "true", false %>
        <% else %>
          <%= check_box_tag "private", "true", true %>
        <% end %>
        <label for="private"> Private</label>
      </div>
      <div class="public">
        <% if (not params[:commit].present?) || (params[:commit] != "Apply filter") %>
          <%= check_box_tag "public", "true", true %>
        <% elsif params[:commit].present? && params[:public] != "true" %>
          <%= check_box_tag "public", "true", false %>
        <% else %>
          <%= check_box_tag "public", "true", true %>
        <% end %>
        <label for="public"> Public</label>
      </div>
    </div>
  </div>

  <div class="row-button mx-2 pb-2">
    <%= submit_tag "Apply filter", class: "btn btn-primary w-80" %>
  </div>
<% end %>
