
<%= form_with url: myroutes_path, method: :get  do |form| %>
  <div class="form-row mx-2 pt-2">
    <div class="col-field-description">
      City
    </div>
    <div class="col-field-options route-city">
      <%= text_field_tag :city,
          filter_params[:city],
          class: "form-control",
          placeholder: "E.g. London"
        %>
    </div>
  </div>

  <div class="form-row mx-2 ">
    <div class="col-field-description">
      Mode
    </div>
    <div class="col-field-options route-mode">
      <div class="mode-walking">
        <% if filter_params[:mode_walking] == "walking"%>
          <%= check_box_tag "mode_walking", "walking", true %>
        <% else %>
          <%= check_box_tag "mode_walking", "walking", false %>
        <% end %>
        <label for="route_mode"> Walking</label>
      </div>
      <div class="mode-cycling">
        <% if filter_params[:mode_cycling] == "cycling"%>
          <%= check_box_tag "mode_cycling", "cycling", true %>
        <% else %>
          <%= check_box_tag "mode_cycling", "cycling", false %>
        <% end %>
        <label for="mode_cycling"> Cycling</label>
      </div>
      <div class="mode-driving">
        <% if filter_params[:mode_driving] == "driving"%>
          <%= check_box_tag "mode_driving", "driving", true %>
        <% else %>
          <%= check_box_tag "mode_driving", "driving", false %>
        <% end %>
        <label for="mode_driving"> Driving</label>
      </div>
    </div>
  </div>

  <div class="form-row mx-2 ">
    <div class="col-field-description">
      Shared
    </div>
    <div class="col-field-options route-shared">
      <div class="private">
        <% if filter_params[:private] == "true" %>
          <%= check_box_tag "private", "true", true %>
        <% else %>
          <%= check_box_tag "private", "true", false %>
        <% end %>
        <label for="private"> Private </label>
      </div>
      <div class="public">
        <% if filter_params[:public] == "true" %>
          <%= check_box_tag "public", "true", true %>
        <% else %>
          <%= check_box_tag "public", "true", false %>
        <% end %>
        <label for="public"> Public</label>
      </div>
    </div>
  </div>

  <div class="row-button mx-2 pb-2">
    <%= submit_tag "Apply filter", class: "btn btn-primary w-80" %>
  </div>
<% end %>
