<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <div class="nav-bar-links">
      <div class="left-section">
        <a id="logo_small" href=<%= root_path%>><%= image_tag "Logo_bright_no_text.png" %></a>
        <a id="logo_big" href=<%= root_path%>><%= image_tag "Logo_bright_with_text.png" %></a>
      </div>

      <div class="right-section">
        <%# Display for logged in user %>
        <% if user_signed_in? %>
          <%# Small screen: Home, My Routes. Big Screen: Home, My Routes, Public Routes, New Route %>
          <a href=<%= root_path%> class="nav-link">Home</a>
          <a href=<%= myroutes_path%> class="nav-link">My Routes</a>

          <a href=<%= public_routes_path%> class="nav-link big-screen">Public Routes</a>
          <%= link_to "New route", new_route_path, class: "big-screen btn btn-success" %>

          <%# Toggle button on small screen %>
          <button class="navbar-toggler small-screen" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <div class="navbar-avatar">
              <span class="initials text-center"><%= current_user.name.chars.first.capitalize %></span>
            </div>
          </button>

          <%# Toggle button on big screen %>
          <div class="btn-group dropstart big-screen">
            <a type="button" class="navbar-toggler "data-bs-toggle="dropdown" aria-expanded="false">
              <span class="navbar-toggler-icon"></span>
              <div class="navbar-avatar">
                <span class="initials text-center"><%= current_user.name.chars.first.capitalize %></span>
              </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "Account settings", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </div>


        <%# If no user is signed in %>
        <% else %>
          <a href=<%= root_path%> class="nav-link">Home</a>
          <a href=<%= public_routes_path%> class="nav-link">Public Routes</a>
          <%= link_to "Login", new_user_session_path, class: "btn btn-success"%>
        <% end %>

      </div>

    </div>

    <%# Navigation menu on small screens %>
    <div class="nav-bar-menu small-screen">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item"><%= link_to "New route", new_route_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Public routes", public_routes_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Account settings", edit_user_registration_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
          </ul>
        </div>
    </div>

  </div>
</div>
