<div class="admin-container">
  <div class="section">
    <div class="table-name">
      <h1>Routes</h1>
    </div>
    <div class="table-options">
      <%= link_to 'Export routes', export_path, class: "btn btn-outline-primary btn-sm" %>
    </div>
    <div class="table-content">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Route</th>
            <th scope="col">Stops</th>
            <th scope="col">Mode</th>
            <th scope="col">City</th>
            <th scope="col">User</th>
          </tr>
        </thead>
        <tbody>
          <% @routes.each_with_index do |route, index| %>
            <tr>
              <th scope="row"> <%=index + 1%></th>
              <td><%= route.title %></td>
              <td><%= route.destinations.length %></td>
              <td><%= route.mode %></td>
              <td><%= route.city %></td>
              <td><%= User.find(route.user_id).id %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="section">
    <div class="table-name">
      <h1>Api Usage</h1>
    </div>
    <div class="table-options">
    </div>
    <div class="table-content">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Month</th>
            <th scope="col">Autocomplete</th>
            <th scope="col">Maploads</th>
            <th scope="col">Directions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= Time.new.strftime("%B") %></td>
            <td><%= @api_usage["autocomplete"][Time.new.strftime("%B")] %></td>
            <td><%= @api_usage["maploads"][Time.new.strftime("%B")] %></td>
            <td><%= @api_usage["directions"][Time.new.strftime("%B")] %></td>
          </tr>
          <tr>
            <td><%= (Time.new - 1.months).strftime("%B") %></td>
            <td><%= @api_usage["autocomplete"][(Time.new - 1.months).strftime("%B")] %></td>
            <td><%= @api_usage["maploads"][(Time.new - 1.months).strftime("%B")] %></td>
            <td><%= @api_usage["directions"][(Time.new - 1.months).strftime("%B")] %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
