<div class="editpage-container-mobile">

  <div class="page-actions my-2">
    <div class="left-side">
    </div>
    <div class="right-side">
      <%= link_to '<i class="fa-regular fa-trash-can"></i> Delete'.html_safe, route_path(@route), data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete the entire route?'}, class: "btn btn-outline-danger btn-sm"%>
      <%= link_to '<i class="fa-solid fa-floppy-disk"></i> Save'.html_safe, save_route_path(@route), class: "btn btn-outline-primary btn-sm"%>
    </div>
  </div>

  <div class="route-title my-3" data-controller="route">
    <h1 class="text-center" data-route-target="routeTitle"><%= @route.title %> (editing) <i class="fa-solid fa-pen-nib fa-xs" data-action="click->route#edit_title"></i></h1>
    <div class="form-update-route-title hidden" data-route-target="formUpdateRouteTitle">
      <%= render partial: "shared/form_edit_route_name", locals: {route: @route} %>
    </div>
  </div>

  <div id="map-mobile"
    data-controller="map"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-route-id-value="<%= @route.id %>"
    data-map-route-mode-value="<%= @route.mode %>"
  ></div>

  <div class="route-specs mx-3 my-2 py-1" id="nikspecs" data-controller="route">
    <div><i class="fa-solid fa-location-dot me-2"></i><%= @route.route_destinations.length %> stops</div>
    <div><i class="fa-solid fa-stopwatch me-2"></i><span data-route-target="time"><%= @route.time.nil? ? "0" : "#{@route.time}"%></span> min</div>
    <div><i class="fa-solid fa-road me-2"></i><span data-route-target="distance"><%= @route.distance.nil? ? "0" : "#{@route.distance}" %></span> km</div>
  </div>

  <div class="route-settings">
    <div class="dropdown">
      <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Route mode</button>
      <ul class="dropdown-menu">
        <li class="dropdown-item <%="active" if @route.mode == "walking"%>"><%= link_to "Walking", update_mode_walking_path(@route)%></li>
        <li class="dropdown-item <%="active" if @route.mode == "cycling"%>"><%= link_to "Cycling", update_mode_cycling_path(@route)%></li>
        <li class="dropdown-item <%="active" if @route.mode == "driving"%>"><%= link_to "Driving", update_mode_driving_path(@route)%></li>
      </ul>
    </div>

    <%= link_to "Route optimisation", "#", class: "btn btn-outline-primary btn-sm mx-2"%>
  </div>

  <div class="route-itinerary pb-2 my-2">

    <h1 class="text-center pt-2">Itinerary</h1>

    <div class="route-destinations-form mobile">
      <%= render partial: "shared/form_add_destination", locals: {route: @route, destination: @destination} %>
    </div>

    <div class="route-destinations" data-controller="sortable" data-sortable-url="/routes/<%= @route.id %>/route_destinations/:id/move" data-count="<%= @route.route_destinations.count %>" data-route-destinations-count="<%= @route.route_destinations.count %>" data-route-id="<%= @route.id %>">
      <% @route.route_destinations.order(position: :asc).each_with_index do |route_destination, index| %>
        <%= render partial: "shared/card_route_destination", locals: {route: @route, route_destination: route_destination, showpage: false, index: index} %>
      <% end %>
    </div>
  </div>

  <div class="page-navigator">
  </div>
</div>
