<div class="index-routes-container-mobile private" data-controller="indexpageviewer route">

  <div class="page-top-action mx-1 my-3">
    <div class="page-intro">
      <h1 data-indexpageviewer-target="introText">Hey, <%= current_user.name.capitalize %>!</h1>
      <h2 data-indexpageviewer-target="introText">Here are all your routes</h2>
      <a href="<%= new_route_path %>" class="btn btn-success hidden" role="button" aria-pressed="true" data-indexpageviewer-target="newRouteButton">New Route</a>
    </div>
    <div class="page-actions">
      <a href="#" class="btn btn-outline-primary" role="button" aria-pressed="true" data-action="click->route#toggle_filter_menu" data-route-target="filterButton"><i class="fa-solid fa-filter"> </i> Filter</a>
    </div>
  </div>

  <div class="container-filter hidden" data-route-target="filterMenu">
    <%= render partial: "shared/form_filter_routes", locals: {routes: @routes, url: "/routes"} %>
  </div>

  <div class="route-cards">
    <% @routes_filtered.each do |route| %>

      <div class="card-route-stack p-1 my-3">

        <div class="link-route-options">
          <%= render partial: "shared/options_menu_route", locals: {route: route} %>
        </div>

        <%= link_to route_path(route), :action => 'go', style: 'color:black;text-decoration:none;' do %>
          <%= render partial: "shared/card_route", locals: {route: route} %>
        <% end %>

      </div>

    <% end %>

    <% if @routes_filtered.length == 0 %>
      <p class="no-routes-text">You don't have any routes yet! Create a new route or have a look at public routes...</p>
      <div class="no-routes-actions">
        <%= link_to "Public Routes", public_routes_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

</div>
