<div class="index-routes-container private" data-controller="route">


  <div class="page-intro mx-1 my-2">
    <h1>Hey, <%= current_user.name.capitalize %>!</h1>
    <h2>Here are all your routes</h2>
  </div>

  <div class="page-actions mx-1 mt-3 mb-2" >
    <i class="fa-solid fa-filter" data-action="click->route#toggle_filter_menu"></i>
    <%= link_to "New route", new_route_path, class: "btn btn-outline-primary btn-sm"%>
  </div>

  <div class="container-filter hidden" data-route-target="filterMenu">
    <%= render partial: "shared/form_filter_routes", locals: {routes: @routes, url: "/routes"} %>
  </div>

  <div class="route-cards">
    <% @routes_filtered.each do |route| %>

      <div class="card-route-stack p-1 my-3">

        <div class="link-route-options">
         <%= render partial: "shared/options_menu_route", locals: {route: route} %>
        </div>

        <%= link_to route_path(route), :action => 'go', style: 'color:black;text-decoration:none;' do %>
          <%= render partial: "shared/card_route", locals: {route: route} %>
        <% end %>

      </div>

    <% end %>
  </div>

</div>
