<div class="container-new-route-mobile">
  <div class="page-actions">
    <%= link_to '<i class="fa-solid fa-arrow-left"></i> Back'.html_safe, routes_path(), class: "btn btn-outline-primary" %>
  </div>

  <div class="form-new-route">
    <div class="page-title mx-2 py-2">
      <h1>Create a new route</h1>

    </div>

    <%= simple_form_for @route, html: { class: 'form-inline w-100 my-3' } do |f| %>
      <div class="form title mx-2 my-2 px-3">
        <%= f.input :title, placeholder: "E.g. London visit, day 1", label: "Title:" %>
      </div>

      <div class="form-city mx-2 my-2 px-3">
        <%= f.input :city, placeholder: "E.g. London", label: "City:" %>
      </div>

      <div class="form-button mx-2 pb-2 px-3">
        <%= button_tag( :class => "btn btn-primary btn-submit w-100") do %>
          <i class="fa-solid fa-floppy-disk"></i> Next
        <% end %>
      </div>
    <% end %>

    <div class="page-info mx-2 px-3">
      <p><strong>*Please fill in all mandatory fields</strong></p>
    </div>

  </div>

</div>
