<div class="showpage-container-mobile">
  <div class="page-actions my-2">
    <div class="left-side">
      <%# Back button leads to index page or public index page depending on last visited url %>
       <%= link_to '<i class="fa-solid fa-arrow-left"></i> Back'.html_safe, request.referrer, class: "btn btn-outline-primary btn-sm" %>
    </div>
    <div class="right-side">
      <%= link_to '<i class="fa-solid fa-map-location-dot"></i> Navigate'.html_safe, @route.google_url, target: "_blank", class: "btn btn-outline-primary btn-sm"%>

      <div class="dropdown ms-2" data-controller="sharing" data-sharing-route-url-value="<%=@route.google_url%>" data-sharing-message-value="<%=@message%>" data-sharing-subject-value="<%=@subject%>">
        <button class="btn btn-outline-primary btn-sm" data-bs-toggle="dropdown" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa-solid fa-share-nodes"></i> Share
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li class="dropdown-item" data-action="click->sharing#copy_link"><i class="fa-regular fa-clipboard"></i> <span data-sharing-target="link">Copy link</span></li>
          <% if (browser.device.mobile?) %>
            <li class="dropdown-item" href="<%=@whatsapp_url%>"><i class="fa-brands fa-whatsapp"></i> Whatsapp</li>
            <li class="dropdown-item" data-action="click->sharing#send_sms"><i class="fa-solid fa-comment"></i> SMS</li>
          <% end %>
          <li class="dropdown-item" data-action="click->sharing#send_email"><i class="fa-solid fa-envelope"></i> Email</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="route-title my-3">
    <h1 class="text-center"><%= @route.title %>
      <%# Show edit route icon only to user who owns route %>
      <% if @route.user == current_user %>
        <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_route_path(@route), style: "padding-left:10px;margin-right:15px;" %>
      <% end %>
    </h1>
  </div>

  <div id="map-mobile"
    data-controller="map"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-route-mode-value="<%= @route.mode %>"
  ></div>

  <div class="route-specs mx-3 my-2 py-1">
    <div><i class="fa-solid fa-location-dot me-1" style="color: $lr-font-light;"></i><%= @route.route_destinations.length %> stops</div>
    <div><i class="fa-solid fa-stopwatch me-1" style="color: $lr-font-light";></i><%= @route.time.nil? ? "0 min" : "#{@route.time} min"%></div>
    <div><i class="fa-solid fa-road me-1" style="color: $lr-font-light"></i><%= @route.distance.nil? ? "0 km" : "#{@route.distance} km" %></div>
    <div><i class="fa-solid fa-globe me-1" style="color: $lr-font-light"></i><%= @route.city %></div>
  </div>

  <div class="route-itinerary pb-2 my-2">
    <h1 class="text-center pt-2">Itinerary</h1>
    <div class="route-destinations">
      <% @route.route_destinations.order(position: :asc).each_with_index do |route_destination, index| %>
        <%= render partial: "shared/card_route_destination", locals: {route: @route, route_destination: route_destination, showpage: true, index: index} %>

        <%# Overlay circle connector %>
        <% unless index == @route.route_destinations.length - 1 %>
          <div class="destination-connector">
            <div class="connector-line-top"></div>
            <div class="route-mode-icon my-0" <%= "style=margin-left:36px;" if @route.mode == "cycling"%> <%= "style=margin-left:38px;" if @route.mode == "driving"%> >
              <% if @route.mode == "walking" %>
                <i class="fa-solid fa-person-walking fa-sm" style="color: $lr-font-dark;"></i>
              <% elsif @route.mode == "cycling" %>
                <i class="fa-solid fa-person-biking fa-sm" style="color: $lr-font-dark;"></i>
              <% elsif @route.mode == "driving" %>
                <i class="fa-solid fa-car fa-sm" style="color: $lr-font-dark;"></i>
              <% else %>
                Error
              <% end %>

            </div>
            <div class="connector-line-bottom"></div>
          </div>
        <% end %>
        <%# Overlay end %>
      <% end %>
    </div>
  </div>

  <div class="page-navigator">
  </div>
</div>
